{{#partial "content"}}

    <div class="jumbotron">
        <h1>Hack-A-Thon</h1>
        <h3>The word "hackathon" is a portmanteau of the words "hack" and "marathon", where "hack" is used in the sense of exploratory              programming, not its alternate meaning as a reference to computer crime.</h3>
        <h3>-Wikipedia</h3>
    </div>
    <button class="btn btn-danger">Enter</button>
{{/partial}}

{{> layout.hbs.}}
