html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("images/background-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}