html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("images/background-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: georgia;
  }

.col-md-4 {
  text-align: center;
  color: white;
}


.hackathons {
     height: 250px;
     position: relative;
}

.imgText {
    position: absolute;
    top: 70px;
    left: 70px;
    font-size: 50px;
}

.fluidImages {
  height: 100%;
  width: 100%;
}

.fluidImages:hover {
    opacity: .3;
}

.jumbotron {
  text-align: center;
  font-size: 100px;
  color: white;
  background: #595F5A;
}

.jumbotron h6 {
  font-size: 16px;
}

.squadMems {
    background: inherit;
    position: relative;
    height: 150px;
    margin-bottom: 30px;

}


.hackerSpace {
    text-align: center;
    margin-top: 25%;
    font-size: 30px;
    background-color: #595F5A;
    color: black;
    padding-bottom: 15px;
}

label{
    display:inline-block;
    width: 100px;
    color: white;
}

.inputs {
  color: black;
}

.registration {
  display: block;
  margin: auto;
  color: white;
}

.register {
  text-align: center;
  color: white;
}