{{#partial "content"}}

    <div class="jumbotron">
        <h1>Hack-A-Thon</h1>
        <h6>The word "hackathon" is a portmanteau of the words "hack" and "marathon", where "hack" is used in the sense of exploratory              programming, not its alternate meaning as a reference to computer crime.</h6>
        <h6>-Wikipedia</h6>
    </div>
    <a href="/hackathons"><button class="btn btn-danger">Enter</button></a>
{{/partial}}

{{> layout.hbs}}
