<!DOCTYPE html>
<html>
<head>
    <title>Hackathon!
    </title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    <link rel="stylesheet" href="/homepage.css">
</head>
<body>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/hackathons">Hack A Thon</a></li>
</ul>

<div class="container-fluid">


    <div class="jumbotron" id="homeJumbo">
        <h1 id="homeTitle">Hack-A-Thon</h1>

        <h4>The word "hackathon" is a portmanteau of the words "hack" and "marathon", where "hack" is used in the sense
            of exploratory programming, not its alternate meaning as a reference to computer crime.</h4>
        <h5>-Wikipedia</h5>
        <a href="/hackathons">
            <h1 class="btn register">Enter</h1>
        </a>
    </div>


</div>

</body>
</html>
