
{{#partial "content"}}

    <div class="jumbotron">
        <h1>Registration</h1>
    </div>
    {{#if thisHack}}
        <div class="container-fluid registration">
            <form action="/hackathons/{{thisHack}}" method="post">
                <div class="form-group">
                    <label for="name">Team name: </label>
                    <input id="name" name="name" type="text" class="inputs" required>
                </div>
                <div class="form-group">
                    <label for="blurb">Give us a brief blurb about your squad: </label>
                    <input id="blurb" name="blurb" type="text" class="inputs"required>
                </div>
                <button type="submit" class="btn btn-info">Register</button>
            </form>
        </div>
    {{else}}
        <form action="/hackathons/new" method="post">
            <div class="form-group">
                <label for="focus">Focus point: </label>
                <input id="focus" name="focus" type="text" required>
            </div>
            <div class="form-group">
                <label for="location">Location: </label>
                <input id="location" name="location" type="text" required>
            </div>
            <button type="submit" class="btn btn-info">Register</button>
        </form>
    {{/if}}

    {{/partial}}


{{> layout.hbs}}